<% layout("layouts/boilerplate.ejs") %>
<h3>
  Search results for <i><b> " <%= query %> " </b></i>
</h3>
<div class="body">
  <div>
    <% if (listing.length > 0) { %> <% listing.forEach(list => { %>
    <a
      href="/listings/<%= list._id %>"
      style="color: rgb(236, 45, 45); text-decoration: none"
    >
      <h5><%= list.title %></h5> </a
    ><br />

    <% }) %> <% } else { %>
    <p>No listing found.</p>
    <% } %>
  </div>
</div>
